<pe:mcml>
    <script type="text/npl" src="SelectLocationTask.lua" refresh="true">
        <![CDATA[
            SelectLocationTask = commonlib.gettable("MyCompany.Aries.Game.Tasks.SelectLocationTask");
            SelectLocationTask.InitPage(Page);
            menus = SelectLocationTask.menus
            menuWidth = SelectLocationTask.menuWidth
            function clickMenu(name, mcmlNode)
                local id = tonumber(string.sub(name, 4, -1))
                SelectLocationTask.menus[id].func()
            end
            function getMenu()
                return menus
            end
        ]]>
    </script>
    <!-- <pe:container style="padding:5px;background-color:#ff0000"> -->
    <div style='height:30px; float:left;' width="<%=menuWidth%>px">
        <pe:repeat DataSource="<%=getMenu()%>">
        <pe:repeatitem>
            <div style='float:left;margin-right:2px;width:40px;height:30px;' onclick="clickMenu" name="<%= 'id_' .. order %>">
                <a href="<%= '/' .. name %>" style='width:40px;height:30px;'><img style='width:40px;height:30px;border:none;' src="<%=format('Mod/EarthMod/textures/%s.png',icon)%>"/></a>
            </div>
        </pe:repeatitem>
        </pe:repeat>
    </div>
</pe:mcml>